@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,p{margin: 0;}

body{
    font-family: "NotoSans",sans-serif;
    font-weight: 300;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	color: #333;
	text-decoration: none;
}

.cf::after{
	content: "";
	display: block;
	clear: both;
}

/*추가*/
h2{
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    font-family: "MapoFlowerIsland" ,serif;
}