@charset "utf-8";

#wrap{position: relative;}
/*ν—¤λ”*/
#header{
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
}
#header h1{
    float: left;
    margin-left: 10px;
}
#header a{
    display: block;
    height: 100%;
}
#header h1 img{
    display: block;
    width: 90px;
}

.menu_bar{
    float: right;
    margin-right: 10px;
}
.menu_bar img{
    display: block;
    width: 20px;
}

.menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.menu_list{
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 15px;
    font-weight: 400;
    padding-top: 120px;
    background-color: rgba(0,0,0,0.9);;
}
.menu_list li{margin-bottom: 40px;}
.menu_list li a{color: #fff;}

.xx{
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 0;
}
.xx li{
    width: 15px;
    height: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    text-indent: -9999px;
    transform: rotate(45deg);
    float: left;
}
.xx li:last-child{
    transform: rotate(225deg);
    margin-left: 4px;
}
.xx li a{
    display: block;
    height: 100%;
}

/*ν‘Έν„°*/
#footer{
    text-align: center;
    font-size: 10px;
    background: #464647;
    padding: 20px 0;
    color: #c1c1c1;
}

#footer ul{}
#footer ul li{display: inline-block;}
#footer ul li a{
    display: block;
    height: 100%;
    color: #c1c1c1;
}

.f_info{margin: 15px 0 10px 0;}
.f_info p{}

.copy{}
.copy p{}
