@charset "utf-8";

/*메인슬라이더*/
.main_slider{position: relative;}
.main_slider img{
    width: 100%;
    display: block;
}

/*메인컨텐츠01,02*/

.main_con01{background-color: #bc1e25;}
.main_con01 h2{color: #fff;}
.main_con02{background-color: #ececec;}

.s_wrap{
    padding: 50px 0;
}
.s_wrap h2{}

.s_box{
    width: 100%;
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}
.s_box .slick-slide{
    width:0.5%;
    height: 110px;
    border-radius: 20px;
    background-color: #fff;
    margin: 0 20px;
    position: relative;
    transition: transform 0.5s;
}

.s_box .slick-track{
    width: 100%;
    padding: 20px 0;
}
.s_box .slick-list{
    padding: 0 60px;
}

.slick-center{
    transform: scale(1.2);
}

.s_box div a{
    display: block;
    height: 100%;
}
.s_box div img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    height: 50px;
    margin-top: 15px;
}
.s_box div p{
    padding-top:70px;
    color: #bc1e25;
    margin-top: 10px;
    font-size: 13px;
}


/*메인컨텐츠03*/
.main_con03{
    padding-bottom: 50px;
    background: #ececec;
}
.main_con03 h2{}

.con03_list{
    width: 100%;
    margin-top: 30px;
}
.con03_list li{
    width: 33.3%;
    height: 120px;
    background:url(../images/main/orion_img01.png)no-repeat center center;
    background-size: cover;
    float: left;
    position: relative;
    overflow: hidden;
}
.con03_list li:nth-child(2n){
    background: #bc1e25;
}
.con03_list a{
    display: block;
    height: 100%;
}

.con03_list p{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    font-weight: 400;
}
.con03_list li:nth-child(2n) p{
    color: #fff;
}

/*메인컨텐츠04*/
.main_con04{
    padding: 50px 0;
    text-align: center;
}
.main_con04 h2{}
.main_con04 p{
    font-size: 14px;
    margin: 10px 0;
}

.con04_list{
    width: 100%;
}
.con04_list li {}

.con04_list li a{
    width: 20%;
    padding-bottom: 20%;
    position: relative;
    float: left;
    margin: 0 10%;
    border-radius: 50%;
    background: url(../images/main/con_img01.png) no-repeat center center;
    background-size: cover;
}
.con04_list li:nth-child(2) a{
    background-image: url(../images/main/con_img02.png);
    margin: 0;
}
.con04_list li:last-child a{background-image: url(../images/main/con_img03.png)}
.con04_list li p{
    width: 100%;
    position: absolute;
    bottom: -35px;
    font-size: 11px;
    font-weight: 400;
}

